Read the diabetes dataset from the 

https://github.com/akmalatnamal/davlab3/raw/main/diabetes.csv

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://github.com/akmalatnamal/davlab3/raw/main/diabetes.csv')
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

![image.png]()

In [ ]:
x = df.Glucose.values
x = np.asarray(x)
x

array([148,  85, 183,  89, 137, 116,  78, 115, 197, 125, 110, 168, 139,
       189, 166, 100, 118, 107, 103, 115, 126,  99, 196, 119, 143, 125,
       147,  97, 145, 117, 109, 158,  88,  92, 122, 103, 138, 102,  90,
       111, 180, 133, 106, 171, 159, 180, 146,  71, 103, 105, 103, 101,
        88, 176, 150,  73, 187, 100, 146, 105,  84, 133,  44, 141, 114,
        99, 109, 109,  95, 146, 100, 139, 126, 129,  79,   0,  62,  95,
       131, 112, 113,  74,  83, 101, 137, 110, 106, 100, 136, 107,  80,
       123,  81, 134, 142, 144,  92,  71,  93, 122, 163, 151, 125,  81,
        85, 126,  96, 144,  83,  95, 171, 155,  89,  76, 160, 146, 124,
        78,  97,  99, 162, 111, 107, 132, 113,  88, 120, 118, 117, 105,
       173, 122, 170,  84,  96, 125, 100,  93, 129, 105, 128, 106, 108,
       108, 154, 102,  57, 106, 147,  90, 136, 114, 156, 153, 188, 152,
        99, 109,  88, 163, 151, 102, 114, 100, 131, 104, 148, 120, 110,
       111, 102, 134,  87,  79,  75, 179,  85, 129, 143, 130,  87, 119,
         0,  73, 141, 194, 181, 128, 109, 139, 111, 123, 159, 135,  85,
       158, 105, 107, 109, 148, 113, 138, 108,  99, 103, 111, 196, 162,
        96, 184,  81, 147, 179, 140, 112, 151, 109, 125,  85, 112, 177,
       158, 119, 142, 100,  87, 101, 162, 197, 117, 142, 134,  79, 122,
        74, 171, 181, 179, 164, 104,  91,  91, 139, 119, 146, 184, 122,
       165, 124, 111, 106, 129,  90,  86,  92, 113, 111, 114, 193, 155,
       191, 141,  95, 142, 123,  96, 138, 128, 102, 146, 101, 108, 122,
        71, 106, 100, 106, 104, 114, 108, 146, 129, 133, 161, 108, 136,
       155, 119,  96, 108,  78, 107, 128, 128, 161, 151, 146, 126, 100,
       112, 167, 144,  77, 115, 150, 120, 161, 137, 128, 124,  80, 106,
       155, 113, 109, 112,  99, 182, 115, 194, 129, 112, 124, 152, 112,
       157, 122, 179, 102, 105, 118,  87, 180, 106,  95, 165, 117, 115,
       152, 178, 130,  95,   0, 122,  95, 126, 139, 116,  99,   0,  92,
       137,  61,  90,  90, 165, 125, 129,  88, 196, 189, 158, 103, 146,
       147,  99, 124, 101,  81, 133, 173, 118,  84, 105, 122, 140,  98,
        87, 156,  93, 107, 105, 109,  90, 125, 119, 116, 105, 144, 100,
       100, 166, 131, 116, 158, 127,  96, 131,  82, 193,  95, 137, 136,
        72, 168, 123, 115, 101, 197, 172, 102, 112, 143, 143, 138, 173,
        97, 144,  83, 129, 119,  94, 102, 115, 151, 184,  94, 181, 135,
        95,  99,  89,  80, 139,  90, 141, 140, 147,  97, 107, 189,  83,
       117, 108, 117, 180, 100,  95, 104, 120,  82, 134,  91, 119, 100,
       175, 135,  86, 148, 134, 120,  71,  74,  88, 115, 124,  74,  97,
       120, 154, 144, 137, 119, 136, 114, 137, 105, 114, 126, 132, 158,
       123,  85,  84, 145, 135, 139, 173,  99, 194,  83,  89,  99, 125,
        80, 166, 110,  81, 195, 154, 117,  84,   0,  94,  96,  75, 180,
       130,  84, 120,  84, 139,  91,  91,  99, 163, 145, 125,  76, 129,
        68, 124, 114, 130, 125,  87,  97, 116, 117, 111, 122, 107,  86,
        91,  77, 132, 105,  57, 127, 129, 100, 128,  90,  84,  88, 186,
       187, 131, 164, 189, 116,  84, 114,  88,  84, 124,  97, 110, 103,
        85, 125, 198,  87,  99,  91,  95,  99,  92, 154, 121,  78, 130,
       111,  98, 143, 119, 108, 118, 133, 197, 151, 109, 121, 100, 124,
        93, 143, 103, 176,  73, 111, 112, 132,  82, 123, 188,  67,  89,
       173, 109, 108,  96, 124, 150, 183, 124, 181,  92, 152, 111, 106,
       174, 168, 105, 138, 106, 117,  68, 112, 119, 112,  92, 183,  94,
       108,  90, 125, 132, 128,  94, 114, 102, 111, 128,  92, 104, 104,
        94,  97, 100, 102, 128, 147,  90, 103, 157, 167, 179, 136, 107,
        91, 117, 123, 120, 106, 155, 101, 120, 127,  80, 162, 199, 167,
       145, 115, 112, 145, 111,  98, 154, 165,  99,  68, 123,  91, 195,
       156,  93, 121, 101,  56, 162,  95, 125, 136, 129, 130, 107, 140,
       144, 107, 158, 121, 129,  90, 142, 169,  99, 127, 118, 122, 125,
       168, 129, 110,  80, 115, 127, 164,  93, 158, 126, 129, 134, 102,
       187, 173,  94, 108,  97,  83, 114, 149, 117, 111, 112, 116, 141,
       175,  92, 130, 120, 174, 106, 105,  95, 126,  65,  99, 102, 120,
       102, 109, 140, 153, 100, 147,  81, 187, 162, 136, 121, 108, 181,
       154, 128, 137, 123, 106, 190,  88, 170,  89, 101, 122, 121, 126,
        93])

In [ ]:
y = df.Outcome.values
y = np.asarray(y)
y

array([1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0])

In [ ]:
X_mean = np.mean(x)
X_mean

120.89453125

In [ ]:
Y_mean = np.mean(y)
Y_mean

0.3489583333333333

In [ ]:
std_x = np.std(x)
std_x

31.95179590820272

In [ ]:
std_y = np.std(y)
std_y

0.47664076087820645

In [ ]:
def correlation(x,y, cols):
  cor = {}
  for c in cols:
    x_mean = x[c].mean()
    y_mean = y.mean()
    x_std = x[c].std()
    y_std = y.std()
    cor_sum = 0
    x_values = x[c].values
    # y_values = y[c].values
    for i in range(len(x_values)):
      cor_sum = cor_sum + ( (x_values[i]-x_mean) *(y[i] - y_mean ))
      cor_sum  = cor_sum /  (x_std * y_std) 
    cor[c] = cor_sum
  return cor
x = df.drop(['Outcome'], axis=1)
y = df['Outcome']
print(correlation(x,y,x.columns))

{'Pregnancies': -0.2598736741096568, 'Glucose': 0.6526082674020095, 'BloodPressure': -0.10472789751837573, 'SkinThickness': -0.7138304439279354, 'Insulin': 0.4893581259985765, 'BMI': 0.09180809245832927, 'DiabetesPedigreeFunction': inf, 'Age': 0.9286261946733136}

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: RuntimeWarning: overflow encountered in double_scalars
  del sys.path[0]

In [ ]:
def correlation(df):
  cor = {}
  for c in df:
    zero = df[df['Outcome'] == 0]
    one = df[df['Outcome'] == 1]
    N1 = len(zero)
    N2 = len(one)
    zero_mean = zero[c].mean()
    one_mean = one[c].mean()
    zero_std = zero[c].std()
    one_std = one[c].std()
    upper = abs(zero_mean - one_mean)
    lower = np.sqrt(((zero_std ** 2)/N1) + ((one_std ** 2)/N2))
    test = upper / lower
    cor[c] = test
  return cor 
print(correlation(df))

{'Pregnancies': 5.9069614794974905, 'Glucose': 13.751537067396413, 'BloodPressure': 1.7130865949770784, 'SkinThickness': 1.9705792220450462, 'Insulin': 3.300894771479333, 'BMI': 8.619316881357921, 'DiabetesPedigreeFunction': 4.576812008291273, 'Age': 6.920738378988038, 'Outcome': inf}

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: RuntimeWarning: divide by zero encountered in double_scalars